version: '3.8'

services:
  worker:
    build:
      context: .
      dockerfile: services/messages/Dockerfile
    container_name: voice_worker
    restart: always
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"

  payments:
    build:
      context: .
      dockerfile: services/payments/Dockerfile
    container_name: voice_payments
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
