services:
  worker:
    build:
      context: .
      dockerfile: services/messages/Dockerfile
    container_name: voice_worker
    restart: always
    env_file:
      - .env
    networks:
      - app_network
      - appwrite_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PYTHONUNBUFFERED=1

  backend:
    build:
      context: .
      dockerfile: services/payments/Dockerfile
    container_name: voice_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - app_network
      - appwrite_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  app_network:
    driver: bridge
  appwrite_network:
    external: true
    name: appwrite
